@font-face
{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

*
{
    font-family: "Open Sans"
}

.blue
{
    background-color: blue !important;
}

.red
{
    background-color: red;
    color: yellow !important;
}

body
{
background-color: green;
}