
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <meta charset="utf-8" />
    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '';
        if (contextRoot == "/")
            contextRoot = "";
    </script>
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <link media="all" rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}" ></script>

</head>
<body class="container">
    <button type="button" onclick="doIt()">
        Ajax Call
    </button>
    <h1>Hello, <span th:text="${recipient}"></span></h1>
    <div class="row">
        <div class="col-xs-6 blue">
            COL 1
        </div>
        <div  class="col-xs-6 red">
            COL2
        </div>
        <img width="300" height="400" th:src="@{/images/dedede.jpg}"/>
    </div>
</body>
</html>